################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/SystemuserClient/SystemuserClient/.vs
/src/SystemuserClient/SystemuserClient/bin/Debug/net8.0
/src/SystemuserClient/SystemuserClient/obj
/src/SystemUserApi/SystemUserApi/.vs/SystemUserApi
/src/SystemUserApi/SystemUserApi/bin/Debug/net8.0
/src/SystemUserApi/SystemUserApi/obj
/src/SystemUserApi/SystemUserApi/bin/Release/net8.0
/src/SystemUserApi/SystemUserApi/Properties/PublishProfiles
